@inject SFA.DAS.EmployerUrlHelper.ILinkGenerator employerSiteLinkGenerator
@inject Microsoft.Extensions.Options.IOptions<CampaignsWebsite> campaignWebsiteOptions
@model TrainingProvidersViewModel
@{
    Layout = "_Layout-Confirmation";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Confirm removal of apprenticeship</h1>
        <h2 class="govuk-heading-l govuk-!-margin-bottom-2">@Model.Apprenticeship.Title</h2>
        <p class="govuk-!-font-size-24 govuk-!-margin-top-2"> <span class="das-badge das-badge--blue">@Model.Items.Count</span> <span class="das-text--muted">Training providers</span></p>
        @{
            if (Model.Items.Count > 0)
            {
                <div class="govuk-inset-text">
                    <p class="govuk-!-font-weight-bold">Removing this Apprenticeship will also remove the following training providers from your favourites</p>
                    <ol class="govuk-list govuk-list--number">
                        @foreach (var provider in Model.Items)
                        {
                            <li>@provider.ProviderName</li>
                        }
                    </ol>
                </div>
            }
        }

        <form method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h1 class="govuk-fieldset__heading">
                            Are you sure you wish to remove this apprenticeship?
                        </h1>
                    </legend>
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="changed-name" name="confirmDelete" type="radio" value="True">
                            <label class="govuk-label govuk-radios__label" for="changed-name">
                                Yes, remove @Model.Apprenticeship.Title
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="changed-name-2" name="confirmDelete" type="radio" value="False">
                            <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                No, keep the apprenticeship
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <input asp-for="ApprenticeshipId" type="hidden" />
            <input asp-for="EmployerAccountId" type="hidden" />

            <button class="govuk-button">Save and continue</button>
        </form>
    </div>
</div>