.app-hero-container {
    background: #005ea5;
    padding: 1.5em;
    margin: 0 0 1em 0;
}

.app-hero-container__heading{
    color:white;
}

.app-hero-container__caption {
    color: white;
    margin-top:0.2em;
}

.app-hero-container__number {
    background: white;
    border-radius: 0.8em;
    color: #005ea5;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin: 0 0.5em 0 0;
    text-align: center;
    width: 1.6em;
}

.app-hero-container__icon-basket {
    background: url("../images/favourite-unchecked-white.svg") no-repeat;
    float: left;
    margin-right:0.5em;
    height: 2.5em;
    width: 2.5em;
}

.app-icon-basket {
    display: inline-block;
    float: left;
    width: 1em;
    height: 1em;
    background: url('../images/favourite-unchecked-black.svg') no-repeat;
}

.app-task-list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 1em;
    margin-bottom: 0;
}
  
@media (min-width: 40.0625em) {
    .app-task-list {
        min-width: 550px;
    }
}

.app-task-list__item {
    background: white;
    margin: 0 0 2em 0;
    padding:1.5em;
}

.app-task-list__heading {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.11111;
}

@media (min-width: 40.0625em) {
    
    .app-task-list__heading {
        font-size: 1.75rem;
    }
}
  
@media (min-width: 40.0625em) {
    .app-task-list__section {
        font-size: 24px;
        font-size: 1.5rem;
        line-height: 1.25;
    }
}
  
@media (min-width: 40.0625em) {
    .app-task-list__section-number {
        min-width: 30px;
        padding-right: 0;
    }
}

.app-provider-number {
    background: #005ea5;
    border-radius: 0.8em;
    color: white;
    display: inline-block;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.6em;
    margin: 0 0.5em 0 0;
    text-align: center;
    width: 1.6em;
}

.app-tag-new {
    background: #6f777b;
    color: white;
    border-radius: 5px;
    display: inline-block;
    padding: 0.25em 0.5em;
    width: auto;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.875rem;
}

@media (min-width: 40.0625em) {
    .app-task-list__training-provider-content {
        float: right;
        clear: both;
    }
}

.app-training-provider__details-title {
    display:inline-block;
    font-weight: 600;
    margin-right: 10px;
}

.app-training-provider__details-definition {
    display: inline;
    padding: 0;
    margin: 0 0 7px;
}

.app-training-provider__details-definition:after {
    display: block;
    content: '';
}

@media (min-width: 40.0625em) {
    .app-training-provider__details-definition {
        margin-bottom: 5px;
    }
}